In [1]:
import sqlite3

In [2]:
import datetime

In [3]:
conn = sqlite3.connect("log.db")

In [4]:
conn.execute("create table employee (name text, timestamp timestamp)")

In [5]:
conn.close()

In [6]:
conn = sqlite3.connect("log.db")

In [8]:
c = conn.execute("select * from employee")

In [9]:
c.close()

In [11]:
conn.close()

In [34]:
conn = sqlite3.connect("log.db")

In [35]:
c = conn.cursor()

In [37]:
name = "aa"
timestamp = datetime.datetime.now()
c.execute("insert into employee (name, timestamp) values(?,?)", (name,timestamp))
conn.commit()

In [38]:
c.close()
conn.close()

In [39]:
conn = sqlite3.connect('log.db')
c = conn.execute("select * from employee")

In [40]:
row = ""
for row in c:
    print(row)

('aa', '2024-03-15 20:10:11.348271')
('aa', '2024-03-15 20:10:15.462781')

In [41]:
c.close()
conn.close()